@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');
*{
   font-family: "Exo", sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   
}
.header{
    text-align: center;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
}
.bodys{
    display: flex;
    justify-content: center;
    padding-top: 1.5rem;
}
.weather-card{
    color:blueviolet;
    width: 500px;
    height: 500px;
    box-shadow: 10px 5px 5px rgba(87, 80, 80, 0.466);
    border-radius: 9px;
    border: solid 1px;
    border-color: rgba(15, 19, 15, 0.74)
}
.top-half{
    padding-top: 2.0rem;
    text-align: center;
    height: 50%;
}
.top-half img{
    height: 55%
}
.bot-half{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1.5rem;
    color: black;
    gap: 7.0rem;

}
.temp-div{
    display: flex;
    flex-direction: column;
    gap: 3.0rem;
}
.temp-div :first-child{
    font-size: 3.00rem;
}
.temp-div :nth-child(2){
    font-size: 2.5rem;
}
.wind-div :first-child{
    font-size: 2.50rem;
}
.wind-div{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

}
.windspeed-div{
    display: flex;
}

